body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5A5A4B;
	line-height: 16px;
}

.home {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5a5a4b;
	text-align: left;
	margin-left: 2em;
	line-height: 16px;
	font-style: normal;
}

.copyright {
	font-size: 9px;
	text-align: right;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #5a5a4b;
	line-height: 12px;
}

.jump {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; background-color: #FFFFFF}

td.livearea {bgcolor="#FFFFFF"
	padding-top: 24px;
	padding-right: 48px;
	padding-left: 48px;
	padding-top: 24px;
}

a {color: DC0862; text-decoration: none}
a:hover {color: #DC0862; text-decoration: underline}
a:visited {color: #94AA6B}


ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5a5a4b;
	line-height: 15px;
}
ol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5a5a4b;
	line-height: 15px;
}

h3 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; font-weight: bold;}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #dc0862;
	font-weight: normal;
	padding-top: 6px;
}

h1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; color: dc0862; font-weight: normal;}
.nobullet {
	list-style-type: none;
	margin-left: -15px;
	margin-bottom: 6px;
}
.portfolio {
	color: #5A5A4B;
	text-decoration: none;
	font-size: 11px;
	line-height: 13px;
}
.crumbs {
	color: DC0862;
	text-decoration: none;
	font-size: 9px;
	line-height: 11px;
	padding-bottom: 6px;
}
.copyrightleft {
	font-size: 9px;
	text-align: left;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #5a5a4b;
	line-height: 12px;
}
.portfolio2 {
	color: #5A5A4B;
	text-decoration: none;
	font-size: 11px;
	line-height: 13px;
	margin-top: -6px;
}
